<div class="form-row mb-3">
  <label class="form-label" for="name">Name</label>
  <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{record.name}}" required>
</div>
<div class="form-row mb-3">
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" value="{{record.date}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="categoryId">Category</label>
  <select class="form-control" id="categoryId" name="categoryId">
    {{#each categories}}
    <option value="{{this.id}}" {{#ifCond this.id ../record.categoryId}} selected {{/ifCond}}>{{this.name}}</option>
    {{/each}}
  </select>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="openingHours">Amount</label>
  <input class="form-control" type="number" name="amount" id="amount" placeholder="Enter amount" value="{{record.amount}}" required>
</div>
<button type="submit" class="btn btn-primary">Submit</button>